/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: transparent;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(227, 231, 237, 0.3);
    background-color: transparent;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(253, 253, 253, 0.3);
    background-color: #434a54;
}

.back_jpg {
    display: flex;
    overflow: hidden;
    align-content: stretch;
    justify-content: space-around;
    background-image: url("../img/welcome.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg {
    overflow: hidden;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%
}

html, body, main {
    background-color: #ffffff;
    height: 100%;
    margin: 0;
    font-size: 11px;
    font-family: sans-serif;
}

.chat {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #00a0d2;
}

.main_chat {
    background-color: #0f0f0f;
    height: 75%;
}

.message_box {
    background-color: #ff4c1a;
    height: 100%;
}

.profile_box {
    background-color: #ff27a0;
    height: 100%;
}

.pro_name {
    height: 11%;
    background-color: #79c7d2;
}

.pro_search {
    height: 5.6%;
    background-color: #2b542c;
}

.pro_select {
    height: 83.6%;
    background-color: #5bff35;
}

.msg_title {
    height: 8%;
    background-color: #d2c11a;
}

.msg_main {
    height: 67%;
    background-color: #ff7c00;
}

.msg_sender {
    height: 25%;
    background-color: #ea40ff;
}

.scroll-y {
    overflow-y: scroll;
    overflow-x: hidden;
}

.myTabItem {
    border-top: 1px solid #262930 !important;
}

#myTab {
    height: 20%;
}

#myTabContent {
    background-color: #2e3641;
    height: 80%;
}