# Default ignored files
/.idea/shelf/
/.idea/workspace.xml

# Datasource local storage ignored files
/.idea/dataSources/
dataSources.local.xml

# Editor-based HTTP Client requests
/.idea/httpRequests/
rest-client.private.env.json
http-client.private.env.json
/final_exam/db.sqlite3
final_exam/db.sqlite3
/final_exam/final_exam/__pycache__/*.pyc
final_exam/final_exam/__pycache__/*.pyc
/final_exam/wechat/migrations/__pycache__/*.pyc
final_exam/wechat/migrations/__pycache__/*.pyc
/final_exam/wechat/__pycache__/*.pyc
final_exam/wechat/__pycache__/*.pyc
*.pyc
