<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Add friends or group</title>
    {% load static %}
    <link href="{% static 'css/reset.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/profile.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
    <div class="container-flex flex-reset">
        <div id="left" class="container-flex">
            <img src="{% static 'img/background.jpg' %}">
        </div>
        <div id="right" class="container-flex">
            <div class="table-vertical-align">
                <div class="float-left col-8">
                    <h2 class="head-block">{{ user.username }} </h2>
                    <h3 class="subhead-heading"></h3>
                    <h2 class="subhead-heading">Add friends</h2>

                    <form class="" action="/account/add_friends" method="post" onsubmit="">
                        <div class="passwor1">
                            <div class="field">
                                {% csrf_token %}
                                <div class="form-group">
                                    <p class="h5">Please input the user id:</p>
                                    <input type="text" class="form-control" name="friend_id">
                                    <p class="green form-control" id="g_nofind">{{ f_y }}</p>
                                    <p class="red form-control" id="g_nofind">{{ f_n }}</p>
                                    <br>
                                </div>
                                <div class="">
                                    <input name="submit" type="submit" class="submint_b1" value="Add">
                                </div>
                            </div>
                        </div>
                    </form>

                    <h2 class="subhead-heading">Add groups</h2>
                    <form class="" action="/account/add_group" method="post" onsubmit="return pswValidation2(this)">
                        <div class="form-group field">
                            {% csrf_token %}
                            <div class="change_word">
                                <label for="form_change_email.email.id_for_label">Please input the group id:</label>
                                <input type="text" class="form-control" name="group_id">
                                <p class="green form-control" id="g_nofind">{{ find_y }}</p>
                                <p class="red form-control" id="g_nofind">{{ find_n }}</p>
                                <br>
                            </div>
                            <div class="change_word">
                                <input name="submit" type="submit" class="submint_b2" value="Add">

                            </div>
                        </div>
                    </form>

                    <h2 class="subhead-heading">Create a group</h2>
                    <form class="" action="/account/create_group" method="post" onsubmit="">
                        <div class="passwor1">
                            <div class="field">
                                {% csrf_token %}
                                <div class="form-group">
                                    <p class="h5">Please input the group name:</p>
                                    <input type="text" class="form-control" name="group_name">
                                    <p class="green form-control" id="group_name">{{ suc }}</p>
                                    <br>
                                </div>
                                <div class="">
                                    <input name="" type="submit" class="submint_b1" value="Create">
                                    <a href="/home" class="link-button  pull-left">Back</a>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'js/account.js' %}"></script>
    </div>
</div>
</body>
</html>
