<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>home</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
    <script type="text/javascript" src="{%static 'js/jquery-3.3.1.js'%}"></script>
    <script type="text/javascript" src="{%static 'js/bootstrap.js'%}"></script>
     <link rel="stylesheet" href="{% static 'css/landing.css' %}">
</head>
<body class="bg">
    <div class="container chat">
        <div class="main_chat col-md-12">
            <div class="row div-row">
                <div class="profile_box col-md-3">
                    <div class="pro_name"></div>
                    <div class="pro_search"></div>
                    <div class="pro_select"></div>
                    <div class="pro_info_list"></div>
                </div>
                <div class="message_box col-md-9">
                    <div class="msg_title"></div>
                    <div class="msg_main"></div>
                    <div class="msg_sender"></div>
                </div>
            </div>
            <p class="copyright">copyright</p>
        </div>
    </div>
</body>
</html>