<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
    <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <link href="{% static 'css/open-iconic-bootstrap.css' %}" rel="stylesheet">
</head>
<body class="bg scroll-y">
<div class="container chat">
    <div class="main_chat col-md-12 px-5">
        <div class="row div-row shadow-lg">
            <div class="profile_box col-md-3 border p-1 rounded text-light">
                <div id="user" class="pro_name" data-id="{{ user.id }}" data-username="{{ user.username }}">
                    <table>
                        <tbody class="user_picture">
                        <tr>
                            <td class="p1">
                                <img data-src=""
                                     alt="32x32" class="mr-2 rounded img-face img_size"
                                     src="{% static "/img/face.jpg" %}"
                                     data-holder-rendered="true">
                            </td>
                            <td class="p2"><p id="user_name">{{ user.username }}</p></td>
                            <td class="p3">
                                <div class="dropdown btn-group">
                                    <a class="btn btn-default dropdown-toggle" href="#" role="button"
                                       id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <span class="oi oi-grid-three-up" title="icon name" aria-hidden="true"></span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="/profile"><span class="oi oi-cog"
                                                                                       title="icon name"
                                                                                       aria-hidden="true"></span> 个人信息修改</a>
                                        <a class="dropdown-item" href="/logout"><span class="oi oi-account-logout"
                                                                                      title="icon name"
                                                                                      aria-hidden="true"></span> 登出</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pro_select">
                    <ul class="nav nav-tabs bg-dark" id="myTab" role="tablist">
                        <li id="gChatLi" onclick="groupChat(this)" data-id="0" data-name="Public chat"
                            class="nav-item my-nav-item">
                            <a class="nav-link active" id="friends-tab" data-toggle="tab" href="#friends" role="tab"
                               data-relatedtab="#nav-chat-tab"
                               aria-controls="friends" aria-selected="true">Public</a>
                        </li>
                        <li class="nav-item my-nav-item">
                            <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab"
                               data-relatedtab="#nav-info-tab"
                               aria-controls="list" aria-selected="false">Friends</a>
                        </li>
                        <li class="nav-item my-nav-item">
                            <a class="nav-link" id="list-tab" data-toggle="tab" href="#add" role="tab"
                               data-relatedtab="#nav-info-tab"
                               aria-controls="list" aria-selected="false">Add</a>
                        </li>
                    </ul>
                    <div class="tab-content scroll-y" id="myTabContent">
                        <div class="tab-pane active" id="friends" role="tabpanel" aria-labelledby="friends-tab">

                            {% for online in onlines %}
                                <div class="media text-muted my-tab-item" id="g{{ online.id }}"
                                     onclick="" data-userid="{{ online.id }}"
                                     data-name="{{ online.username }}">
                                    <img data-src=""
                                         alt="32x32" class="mr-2 rounded img-face"
                                         src="{% static "/img/online.jpg" %}"
                                         data-holder-rendered="true">
                                    <p class="media-body mb-0 small lh-125">
                                        <strong class="d-block text-gray-dark">{{ online.username }}</strong>

                                    </p>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="tab-pane" id="list" role="tabpanel" aria-labelledby="list-tab">
                            {% for friend in friends %}
                                <div class="media text-muted my-tab-item" id="f{{ friend.id }}"
                                     onclick="listItemClick(this)" data-userid="{{ friend.id }}"
                                     data-name="{{ friend.username }}">
                                    <img data-src=""
                                         alt="32x32" class="mr-2 rounded img-face"
                                         src="{% static "/img/face.jpg" %}"
                                         data-holder-rendered="true">
                                    <p class="media-body mb-0 small lh-125">
                                        <strong class="d-block text-gray-dark">{{ friend.username }}</strong>

                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane" id="add" role="tabpanel" aria-labelledby="list-tab">

                            <br>
                            <h3 class="subhead-heading">Add friends</h3>
                            <br>
                            <form class="" action="/account/add_friends" method="post" onsubmit="">

                                <div class="field">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <p class="h5">Please input the user id:</p>
                                        <input type="text" required="required" class="form-control"
                                               name="friend_id">
                                        <br>
                                        <p class="" id="f_i">{{ home_err }}</p>
                                        <br>
                                    </div>
                                    <div class="">
                                        <input name="submit" type="submit" class="btn btn-info" value="Add">
                                    </div>
                                </div>

                            </form>


                        </div>
                    </div>
                </div>
            </div>

            <nav hidden>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    {% comment %}<a class="nav-item nav-link active" id="nav-chat-tab" data-toggle="tab" href="#chat-tab" role="tab"
                       aria-controls="nav-chat" aria-selected="true"></a>{% endcomment %}
                    <a class="nav-item nav-link" id="nav-info-tab" data-toggle="tab" href="#info-tab" role="tab"
                       aria-controls="nav-info" aria-selected="false"></a>
                </div>
            </nav>

            <div class="col-md-9 p-0 tab-content border rounded">
                <div class="tab-pane active h-100" id="info-tab" role="tabpanel" aria-labelledby="info-tab">
                    <div class="message_box h-100">
                        <div class="msg_title">
                            <p id="chatTitle" class="h3 p-1"></p>
                        </div>
                        <div class="msg_main">
                            <div class="input-group chat_in_height flex-row">
                                <!--选中 '#msg-show' 元素， 判断消息谁发——我或别人，在 ’#msg-show div' 子元素class添加值'msg-mine'（自己发）或 ’msg-other‘-->
                                <div id="msg-show" class=" scroll-y">
                                </div>
                            </div>
                        </div>
                        <div class="msg_sender">
                            <div class="input-group text_in_height">
                                <textarea id="tx-input" class="form-control text_in"></textarea>
                            </div>
                            <div class="button-group send_bu">
                                <button id="bt-send" type="button" class="btn btn-default">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane h-100" id="chat-tab" role="tabpanel" aria-labelledby="chat-tab">
                    <div class="message_box h-100 friends">
                        <!--show friend information-->
                        <div id="friendsInfoBox" class="friends_profile container">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="copyright">copyright</p>
    </div>
</div>
<script type="text/javascript" src="{% static "/js/server.js" %}"></script>
<script type="text/javascript" src="{% static "/js/home-tab.js" %}"></script>
</body>
</html>