{% extends "index.html" %}
{% block static_file %}
{% endblock %}
{% block right_div %}
    <form class="login-form content-center well-block" action="/register" method="post" onsubmit="return validation(this)">
        {% csrf_token %}
        <div class="text-content content-center">
            <p class="error" id="error_show">{{ input_error }}</p>
            <p class="error" id="psw_error"></p>
            <p class="error" id="psw_match"></p>
        </div>
        <p>
            <label for="{{ form.username.id_for_label }}">Username</label>
        </p>
        {{ form.username }}
        <p class="errors">{{ form.email.errors }}</p>
        <p>
            <label for="{{ form.email.id_for_label }}">Email</label>
        </p>
        {{ form.email }}
        <p class="errors">{{ form.password.errors }}</p>
        <p>
            <label for="{{ form.password.id_for_label }}">Password</label>
        </p>
        {{ form.password }}
        {{ form.password_confirmation.errors }}
        <p>
            <label for="{{ form.password_confirmation.id_for_label }}">Password confirm</label>
        </p>
        {{ form.password_confirmation }}
        <p class="submit">
            <input type="submit" name="submit" value="Sign up" id="submit" class="button button-primary link-button">
        </p>
        <p class="nav">
            <a href="/login" class="link-button">Login</a>
        </p>
    </form>
    <script type="text/javascript" src="/static/js/register.js"></script>
{% endblock %}
